
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p id="content"></p>

<script>
  const socket = new WebSocket('ws://127.0.0.1:8000/ws/detect/');

    socket.addEventListener('open', function (event) {
        console.log('WebSocket connection established.');
    });

    socket.addEventListener('error', function (event) {
        console.error('WebSocket error:', event);
    });


    socket.addEventListener('message', function (event) {
        console.log('Message from server:', event.data);
        const data = document.getElementById("content");
        data.textContent = data.textContent + "\n" + event.data;
    });
</script>

</body>
</html>